.view-user-content {
  margin-bottom: 1rem;
}

.action-buttons {
  display: flex;
}

.action-buttons button {
  margin-right: 8px;
}

.custom-table .ant-table-thead > tr > th {
  background-color: #0077b6; /* Navy blue */
  color: white;
  padding: 8px;
}

.custom-table .ant-table-tbody > tr > td {
  padding: 8px;
}

.custom-table .ant-table-filter-trigger .anticon-filter {
  color: white;
}
