.card-gradient-outbound {
    background: linear-gradient(to right, #36b9cc, #2a99a2);
  }
  .card-gradient-outboun2 {
    background: linear-gradient(to right, #36b9cc, #2a99a2);
  }
  .card-gradient-inbound2 {
    background: linear-gradient(to right, #827a91, #512da8);
  }
  

  .card-gradient-inbound {
    background: linear-gradient(to right, #827a91, #512da8);
  }