.login-page {
  display: flex;
  height: 100vh;
  position: relative;
  background-image: url("https://t3.ftcdn.net/jpg/02/18/36/62/360_F_218366238_HhmF2SMiYsunnRUsa3lgodlkkV3NBx7I.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.login-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.login-content {
  text-align: center;
  background-color: rgba(255, 255, 255);
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #343a40;
}

.login-form {
  width: 100%; 
  max-width: 200px; 
}

.login-truck-image {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-bottom: 20px;
}

.login-input {
  width: 100%;
  max-width: 280px;
  height: 40px;
  margin-bottom: 15px;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ced4da;
}

.login-btn {
  width: 100%;
  max-width: 280px;
  height: 45px;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #0056b3;
}

.login-forgot-password {
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
}

.login-forgot-password:hover {
  text-decoration: underline;
}

.password-input {
  position: relative;
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #ccc;
}

.password-toggle:hover {
  color: #333;
}
