body {
  font-family: nunito, sans-serif !important;
}

label {
  color: rgb(51, 65, 85) !important;
}

.form-label {
  font-weight: bold;
}

.btn-hover:hover {
  background-color: #d63031 !important;
  color: #fff !important;
}

.btn-success-1 {
  color: #008060 !important;
}

.btn-danger {
  color: #d63031 !important;
}

.create-main-content {
  margin-bottom: 1rem;
}

.btn-hover.btn-success-1:hover {
  background-color: #008060 !important;
  color: #fff !important;
}

.custom-table .ant-table-thead > tr > th {
  background-color: #0077b6;
  color: white;
  padding: 8px;
}

.custom-table .ant-table-tbody > tr > td {
  padding: 8px;
}

.custom-table .ant-table-filter-trigger .anticon-filter {
  color: white;
}

.action-buttons {
  display: flex;
}

.action-buttons button {
  margin-right: 8px;
}

.close-button {
  position: absolute;
  right: 10px;
  background-color: transparent;
  color: #f11212;
  border: none;
  cursor: pointer;
  font-size: 25px;
  outline: none;
}

.login-page {
  display: flex;
  height: 100vh;
  position: relative;
}

.login-background {
  flex: 1;
  background-image: url("./src/assets/truck-1.jpg");
  background-position: 30% 30%;
  background-size: cover;
  display: block;
}

.login-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.login-content {
  text-align: center;
  background-color: rgba(255, 255, 255);
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #343a40;
}

.login-form {
  width: 100%;
  max-width: 200px;
}

.login-truck-image {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-bottom: 20px;
}

.login-input {
  width: 100%;
  max-width: 280px;
  height: 40px;
  margin-bottom: 15px;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ced4da;
}

.login-btn {
  width: 100%;
  max-width: 280px;
  height: 45px;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #0056b3;
}

.login-forgot-password {
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
}

.login-forgot-password:hover {
  text-decoration: underline;
}

.password-input {
  position: relative;
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #ccc;
}

.password-toggle:hover {
  color: #333;
}

@media (max-width: 425px) {
  .login-page {
    flex-direction: column;
  }

  .login-background {
    display: none;
  }

  .login-container {
    width: 100%;
    margin: 0;
  }
}
